@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Raleway:wght@500&display=swap');




* {
    margin: 0px;
}




:root {

    --fontp:  'Raleway', sans-serif;
    --fonth1:  'Raleway', sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.735);
    padding: 100px;

}

header {
    background-color: rgb(122, 7, 7);
    padding: 9px;
    text-align: center;
}

header img {
    display: block;
    width: 300px;
    margin: auto;
    border: 3px solid black;
}

main {
    background-color: white;
    height: 500px;
    text-align: center;
    line-height: 30px;
}

h2 {
    padding: 8px;
    font-family: var(--fonth1);
}

p {
    padding: 15px;
    font-family: var(--fontp);
}

footer {
    background-color: brown;
    padding: 3px;
    text-align: center;
}