@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');




* {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --fonth1:'Open Sans', sans-serif;

     --fontnormal:  'Nunito Sans', sans-serif;
}

body{
    background-color: #FF2D0D;
    padding: 200px;
}

h1{
    font-family: var(--fonth1);
}

p {
    font-family: var(--fontnormal);
}


header {
    padding: 10px;
    background-color: #CC240A;
    text-align: center;

}

header > img {
    width: 200px;
    display: block;
    margin: auto;
    
}

main {
    background-color: white;   
    padding: 10px;
}

footer {
    background-color: #CC240A;
    padding: 10px;
    margin: 0px;
}

p {
    margin: 10px;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 255, 0.61);
    font-family: var(--fontnormal);
}

a:hover {
    text-decoration: underline;
}