@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


* {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    
}

body{
    background-color: #FF2D0D;
    padding: 200px;
}


header {
    padding: 10px;
    background-color: #CC240A;
    text-align: center;

}

header > img {
    width: 200px;
    display: block;
    margin: auto;
    
}

main {
    background-color: white;   
    padding: 10px;
}

footer {
    background-color: #CC240A;
    padding: 10px;
    margin: 0px;
}

p {
    margin: 10px;
}